.page {
  font-size: 1.3rem; 
  padding-top: 15px;
}


@media screen and (min-width: 768px) { 
  .page {
    margin-bottom: 120px;
    margin-left: 40%;
  width: 60%;
  }
 }

 @media creen and (min-wdith: 1440px) {
   .page {
    font-size: 2.5rem;
   }
 }
 
 @media print {
   .print {
    display: block; 
    height: auto;
    margin: 10px;
    padding: 20px;
    width: auto;
   }
 }