@mixin make-overlay($position:absolute, $width:100%, $height:100%, $top:0, $left:0) {
  position: $position;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}

@mixin place-bottom($zindex, $bottom:0){
  bottom: 0;
  z-index: $zindex;
}