@mixin make-overlay($position:null, $width:null, $height:null, $top:null, $left:null) {
  position: $position;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}

@mixin place-bottom($zindex, $bottom:0){
  bottom: 0;
  z-index: $zindex;
}