
/* 
            ***COLOR PALETTE***
*/

/* Base colors */
$color-black: #000;
$color-custom-grey: #f5f5f5;
$color-custom-red: #e96547;
$color-custom-red-transparent: rgba(233,101,71,0.5);
$color-custom-yellow: #efbe41;
$color-white: #fff;

/* Functional colors */
$color-bg-button: $color-white;
$color-bg-deco: $color-custom-yellow;
$color-bg-navigation: $color-white;
$color-bg-project-title: $color-white;
$color-bg-strong: $color-custom-yellow;
$color-bg-tags: $color-white; 
$color-border-button: $color-custom-red;
$color-border-container: $color-custom-red-transparent;
$color-border-navigation: $color-custom-grey;
$color-icons: $color-custom-red;
$color-line-through: $color-custom-red;
$color-link: $color-custom-yellow;
$color-link-active: $color-custom-red;
$color-navigation: $color-custom-red;
$color-project-title: $color-custom-red;
$color-shadow: $color-custom-grey;
$color-tags: $color-custom-red;
$color-text: $color-black;

/* Gradents */
$gradient-footer: linear-gradient(100deg, $color-custom-red 40%, $color-custom-yellow 89%);

/*
            ***FONTS***
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
$font-primary: 'Raleway', Verdana, Helvetica, sans-serif;

/*
            ***MEDIA QUERIES***
*/

$small-tablet: 568px;
$max-tablet: 768px;
$tablet: 769px;
$desktop: 1024px;
$large-screen: 2560px;
$very-large-screen: 2560px;


/*
            ***Z_INDECES***
*/
$z-deco: 11;
$z-project-title: 12;
$z-project-description: 13;
$z-footer: 20;
$z-navigation: 21;
