
/*
            ***ANIMATIONS***
*/

header { 
  @media screen and (min-width: $tablet) {
    animation: fade-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
  } 
}

footer { 
  @media screen and (min-width: $tablet) {
    animation: slide-in-bottom 2s ease-out both; 
  } 
}

.navigation {
  @media screen and (max-width: $max-tablet) { 
    animation: slide-in-bottom 1s ease-out both;
  }
}

.clear,
.choose {@media screen and (prefers-reduced-motion: reduce) {
&:hover,
  &:focus {
    animation: none;
}
}
  &:hover,
  &:focus {
    animation: wobble-hor-bottom 1s ease-in alternate forwards;
  }
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-2px) rotate(-1deg);
  }
  30% {
    transform: translateX(2px) rotate(1deg);
  }
  45% {
    transform: translateX(-2px) rotate(-1.6deg);
  }
  60% {
    transform: translateX(2px) rotate(.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(-.2deg);
  }
}
