
/*
          ***PRINT STYLES***
*/

@media print {

  //hide unnecessary elements
  .navigation,
  .portrait,
  .low-voice,
  .container--tags,
  i[class^="fab"] { 
    display: none; 
  }

  //linerize the layout
  header,
  main,
  .container--flex,
  footer { 
    display: block; 
    height: auto;
    margin: 10px;
    padding: 20px;
    width: auto;
  }

  .section__title {
    margin-top: 10px;
  }

  header,
  footer,
  .project__title { 
    position: static; 
  }

  main {
    section {
      min-height: auto;
      padding: 0;
    }

    .card {
      width: auto;
      height: auto;
    }
  }

  // adjust the typography
  body {
    font-family: serif;
    font-size: 12pt;
  }

  h1 { 
    text-align: center; 
  }

  .project__title {
    font-size: 18pt;
  }

  // add suplementary content
  a:not(.card) {
    &[href*="linkedin"]::before { content: "My LinkedIn: "; }
    &[href*="github"]::before { content: "My GitHub: "; }
    &[href*="twitter"]::before { content: "My Twitter: "; }
    &[href*="codepen"]::before { content: "My CodePen: "; }
  }
}
