
/*
            ***TYPOGRAPHY***
*/

body { 
  font-family: $font-primary; 
  font-size: 100%;
}

h1 {
  text-align: right;

  @media screen and (min-width: $tablet) { font-size: 3rem; }
  @media screen and (min-width: $desktop) { font-size: 4rem; }
  @media screen and (min-width: $large-screen) { font-size: 8rem; }
}

.navigation {
  font-weight: 300;

  @media screen and (min-width: $small-tablet) { font-size: 1.2rem; }
  @media screen and (min-width: $large-screen) { font-size: 3.2rem; }
}

main {
  font-size: 1.3rem; 

  @media screen and (min-width: $large-screen) { font-size: 2.5rem; }
}

.section__title { 
  font-size: 1.7rem;
  font-weight: 200; 

  @media screen and (min-width: $large-screen) { font-size: 3.5rem; }
}

.project__title {
  font-size: 1rem;

  @media screen and (min-width: $tablet) { font-size: 1.2rem; }
  @media screen and (min-width: $large-screen) { font-size: 1.5rem; }
}

button:not(.btn--control) {
  font-weight: 400;
}

ul.tags { 
  font-size: .75rem; 
  @media screen and (min-width: $large-screen) { font-size: 1.25rem; }
}

.clear,
.choose {
    font-size: .7rem;
    @media screen and (min-width: $large-screen) { font-size: 1rem; }
}

.low-voice {
  font-style: normal;
  text-decoration: line-through $color-line-through double;
}

strong { font-weight: normal; }

ul { list-style-type: none; }

footer { font-style: italic; }
