
/*
            ***BOX MODEL***
*/

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

header {
  @media screen and (min-width: $tablet) { 
    width: 40%;
    height: 100vh;
   }
}

h1 { 
  @media screen and (max-width: $max-tablet){ padding-right: 5vw; }
}

.navigation { 
  width: 100%;
  padding: 3% 0;
}

.portrait { 
  margin: auto;
  width: 35%;

  @media screen and (min-width: $tablet) { width: 60%; }

}

main {
  @media screen and (min-width: $tablet) { 
    margin-left: 40%;
    width: 60%;
   }

   section { 
    min-height: 50vh;
    padding: 0 5vw;
  
    @media screen and (min-width: $tablet) { 
      margin: auto;
      max-width: $small-tablet;
      min-height: 100vh;
      padding: 15vh 0 0;
      width: 80%;
   }
}


}

.section__title {
  margin-top: 50px;
}

.container--tags {
  &:after,
  &:before {
    height: 6px;
    width: 55px;
  }
}

.tags {
  margin: 0;
  padding: 25px;

  li {
    margin: 5px 0;
  }

  button {
    padding: 7px 10px;
  }
}

.btn--control:before {
  padding-right: 5px;
}

.card { 
 padding: 3%;
 margin: 20px auto;

 .container--tags + & {
   margin-top: 40px;
 }

 @media (any-hover: hover) { 
   height: 200px;
   width: 60%;

   &:hover, &:focus {
     height: auto;
     min-height: 200px;
   }
 }

 &:focus {
     height: auto;
     min-height: 200px;
  }
}

.project__title,
.project__description {
  margin: 0;
}

.project__title {
  padding: 2px 5px;
}

.project__description {
  padding: 25px;
}

footer {
  margin-top: 50px; 
  padding-bottom: 50px;
  width: 100%; 

  @media screen and (min-width: $small-tablet) { padding-bottom: 70px; }
  @media screen and (min-width: $tablet) { padding-bottom: 0; }
}
