
/*
            ***FLEXBOX***
*/

//header, contact, projects, tags
.container--flex { 
  display: flex; 
  justify-content: space-evenly; 

  //.container--flex--vertical -> only header and projects
  &--vertical {
    flex-direction: column;
  }
}

.content-wrapped {
  align-content: center; 
  flex-wrap: wrap;
}
