
/*
            ***FLEXBOX***
*/

.container--flex { 
  display: flex; 
  justify-content: space-evenly; 

  //.container--flex--vertical -> only header and projects
  &--vertical {
    flex-direction: column;
  }
}

.content--centered {
  align-items: center;
  justify-content: center;
}

.content--wrapped {
  align-content: center; 
  flex-wrap: wrap;
}
