
/*
            ***POSITIONING***
*/

header,
footer { 
  @media screen and (min-width: $tablet) {position: fixed; } 
} 

footer {
  @include place-bottom($z-footer);
}

.navigation {
  @media screen and (max-width: $max-tablet) { 
    position: fixed;
    @include place-bottom($z-navigation);
  }
}

.container--relative {
  position: relative;
}

.clear,
.choose {
  position: absolute;
}

.clear {
  right: 0;
  top: -15px;
}

.choose {
  bottom: -15px;
  left: 0;
}

.project-title {
  bottom: 0;
  left: -10px;
  position: absolute; //within the card

  @media screen and (min-width: $tablet) { left: -20px; } 
  @media screen and (min-width: $desktop) { left: -30px; } 
  @media screen and (min-width: $large-screen) { left: -60px; } 
}

.project-description {
  @media screen and (min-width: $tablet) { visibility: hidden; } 
}

.card:hover .project-description {
  visibility: visible;
}
