
/*
            ***POSITIONING***
*/

header,
footer { 
  position: fixed;
  @media screen and (max-width: $tablet) {position: static; } 
} 

footer {
  @include place-bottom($z-footer);
}

.navigation {
  @media screen and (max-width: $tablet) { 
    position: fixed;
    @include place-bottom($z-navigation);
  }
}
