.footer {
  display: flex; 
  justify-content: center;
  bottom: 0;
  z-index: var(--z-footer);
  margin-top: 50px; 
  padding-bottom: 50px;
  width: 100%; 
  font-style: italic;
  background: var(--gradient-footer); 
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .footer { 
    position: fixed; 
    padding-bottom: 0;
  } 
}

@media print {
  .footer {
    display: block; 
    height: auto;
    margin: 10px;
    padding: 20px;
    width: auto;
    position: static;
  }
}

